html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.mainTitle{
  margin-top: 200px;
  font-weight: 700;
  font-size: 50px;
  line-height: 63px;
  font-family: sans-serif;
  color: #0884C7;
}
.subTitle{
  font-weight: 300;
  font-size: 36px;
  color: #003957;
}